* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #982828d4;
    color: #333333;
    text-align: center;
    padding: 1rem;
}

nav {
    background: #444;
    color: #fff;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex: 1;
    padding: 1rem;
}

.content {
    flex: 3;
    padding: 1rem;
}

.sidebar {
    flex: 1;
    background: #f4f4f4;
    padding: 1rem;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
.dropdown{
    margin-top: 5px;
}